<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Wantify | Your one stop to window-shop.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wantify</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="myApp" ng-controller="MainCtrl as main">
<header>
  <ul>
    <a href="/Wantify/" class="logo"><li>Wantify</li></a>
    <div>
      <form class="searchbar">
        <!-- <select class="q-search">
          <option value="all">All</option>
          <option value="category">Category</option>
        </select> -->
        <input id="search" type='search' ng-model="query" placeholder="Search" aria-label="Search">
        <button id="submit" type="submit"><img src="img/Icons/search.png"></button>
      </form>
      <a href="/Wantify/" class="checkout"><img src="img/Icons/checkout.png"></a>
    </div>
  </ul>
</header>

<article>
  <ul class="products">
    <span class="headline">Check out our latest products:</span>
    <li class="productItem" ng-repeat="product in products | filter: query">
      <a href="/Wantify/"><img class="productImg" ng-src="{{product.imgUrl}}" alt="{{product.title}}"></a>
      <div class="productTitle">
        <a href="/Wantify/"><h2>{{product.title}}</h2></a>
        <img src="img/Icons/addtocart.png">
      </div>
    </li>
  </ul>
</article>

  <div class="footer"><span>&#169;</span> 2015 Bradley Rastrullo</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
</body>
</html>
