header {
  border-bottom: 1px solid black;
  max-height: 5.5em;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0 auto;
  background-color: $bg-colour;
  ul {
    margin: 0 0 .5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    div {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: $br-md) {
  header {
    max-height: 5.5em;
    ul {
      justify-content: space-between;
    }
  }
  .searchbar {
    max-width: 20em;
  }

}